<three-way-toggle [labelValue]="label1" (toggleValue)="getCoverageForceValue($event)"></three-way-toggle>

<three-way-toggle [labelValue]="label2" (toggleValue)="getVacantLandValue($event)"></three-way-toggle>

<three-way-toggle [labelValue]="'label 3'" (toggleValue)="getVacantLandValue($event)"></three-way-toggle>

<three-way-toggle [labelValue]="'label 4'" (toggleValue)="getVacantLandValue($event)"></three-way-toggle>


<three-way-toggle [labelValue]="'Testing Toggle button'" (toggleValue)="getCoverageForceValue($event)"></three-way-toggle>
